
@model QuizMS.Models.tbl_students

@{
    ViewBag.Title = "slogin";
}

<h1>Student Login</h1>
@if (ViewBag.msg != null)
{

    <div class="alert alert-danger">
        <strong>Error!</strong> @ViewBag.msg
    </div>
}
@*<script>

        history.replaceState(null, null, ' https://localhost:44309/Home/QuizStart');

    </script>*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal" style="background-color:#00044b;width:320px;color:white; padding:20px;border-radius:10px">



        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group" style="width:1px">
            @Html.LabelFor(model => model.std_name, "Username", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="width:650px">
                @Html.EditorFor(model => model.std_name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.std_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group" style="width:1px">
            @Html.LabelFor(model => model.std_password, "Password", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="width:650px">
                @Html.PasswordFor(model => model.std_password, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.std_password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" style="margin-left:220px;">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div style="margin-top:-40px; padding:15px; color:white;">
    <p>
        If you are new then @Html.ActionLink("Register Now ", "register")!!
    </p>

</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
