
@model IEnumerable<QuizMS.Models.tbl_students>

@{
    ViewBag.Title = "Student_Record";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h2>Student_Record</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.std_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.std_email)
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewData["list"] as List<QuizMS.Models.tbl_students>)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.std_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.std_email)
            </td>
            <td> <a class="btn btn-info btn-sm" href="@Url.Action("Delete_Student",new {id=item.std_id })"> Delete Student</a></td>

        </tr>
    }

</table>
